.Footer {
	width: 100vw;
	height: 7vh;
	background-color: #324755;
	padding: 0 15rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	color: #aaa;
}

/* ********************************************************************
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
******************************************************************** */

@media (min-width: 320px) and (max-width: 480px) {
	.Footer {
		width: 100vw;
		height: 46px;
	}
}
