* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.MonthlyReport {
	background: #eee;
	padding: 2rem;
	height: 100%;
	width: 100%;
}

.Monthly-chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
